@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root,
.App {
    height: 100vh;
}

.App {
    background-color: #8a8a8a;
    display: flex;
    justify-content: center;
    align-items: center;
}